body {
    background-color: #C0EBFA;
    background-image: url(imagenes/cinna\ icon.png);
    background-size: 100px;
    background-repeat: repeat;
    background-blend-mode: luminosity;
    
    
}
h4 {
    color: #d68e8e;
}
.navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
}
.nav-item {
    margin: 13px 12px 12px 10px;
}
.navbar {
    background-color: #ffe4e4;
  }
  .navbar .navbar-brand {
    color: #bf7f7f;
  }
  .navbar .navbar-brand:hover,
  .navbar .navbar-brand:focus {
    color: #0c334d;
  }
  .navbar .navbar-text {
    color: #115d8e;
  }
  .navbar .navbar-text a {
    color: #0c334d;
  }
  .navbar .navbar-text a:hover,
  .navbar .navbar-text a:focus {
    color: #0c334d; 
  }
  .navbar .navbar-nav .nav-link {
    color: #115d8e;
    border-radius: .25rem;
    margin: 0 0.25em;
  }
  .navbar .navbar-nav .nav-link:not(.disabled):hover,
  .navbar .navbar-nav .nav-link:not(.disabled):focus {
    color: #0c334d;
  }
  .navbar .navbar-nav .dropdown-menu {
    background-color: #ffe4e4;
    border-color: #a0d0fd;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item {
    color: #115d8e;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
  .navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
  .navbar .navbar-nav .dropdown-menu .dropdown-item.active {
    color: #0c334d;
    background-color: #a0d0fd;
  }
  .navbar .navbar-nav .dropdown-menu .dropdown-divider {
    border-top-color: #a0d0fd;
  }
  .navbar .navbar-nav .nav-item.active .nav-link,
  .navbar .navbar-nav .nav-item.active .nav-link:hover,
  .navbar .navbar-nav .nav-item.active .nav-link:focus,
  .navbar .navbar-nav .nav-item.show .nav-link,
  .navbar .navbar-nav .nav-item.show .nav-link:hover,
  .navbar .navbar-nav .nav-item.show .nav-link:focus {
    color: #0c334d;
    background-color: #a0d0fd;
  }
  .navbar .navbar-toggler {
    border-color: #a0d0fd;
  }
  .navbar .navbar-toggler:hover,
  .navbar .navbar-toggler:focus {
    background-color: #a0d0fd;
  }
  .navbar .navbar-toggler .navbar-toggler-icon {
    color: #115d8e;
  }
  .navbar .navbar-collapse,
  .navbar .navbar-form {
    border-color: #115d8e;
  }
  .navbar .navbar-link {
    color: #115d8e;
  }
  .navbar .navbar-link:hover {
    color: #0c334d;
  }
  
  @media (max-width: 575px) {
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #115d8e;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #0c334d;
    }
    .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #0c334d;
      background-color: #a0d0fd;
    }
  }
  
  @media (max-width: 767px) {
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #115d8e;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #0c334d;
    }
    .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #0c334d;
      background-color: #a0d0fd;
    }
  }
  
  @media (max-width: 991px) {
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #115d8e;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #0c334d;
    }
    .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #0c334d;
      background-color: #a0d0fd;
    }
  }
  
  @media (max-width: 1199px) {
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
      color: #115d8e;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
      color: #0c334d;
    }
    .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
      color: #0c334d;
      background-color: #a0d0fd;
    }
  }
  
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #115d8e;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #0c334d;
  }
  .navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #0c334d;
    background-color: #a0d0fd;
  }

  .col-5 {
    margin-top: 15px;
    margin-right: -40px;
    
  }